<!DOCTYPE html>
<html lang="en">

<head data-hook="inside_head">
    <meta charset="utf-8">
    <title>Spree Demo Site</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    <meta name="keywords">
    <meta name="description">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" media="screen" href="/assets/spree/frontend/frontend_bootstrap.self.css?body=1">
    <link rel="stylesheet" media="screen" href="/assets/spree/frontend.self.css?body=1">
    <link rel="stylesheet" media="screen" href="/assets/spree/frontend/_variables.self.css?body=1">
    <link rel="stylesheet" media="screen" href="/assets/spree/frontend/all.self.css?body=1">
    <link rel="stylesheet" media="screen" href="/assets/spree/frontend/mods.self.css?body=1">
    <link rel="stylesheet" media="screen" href="/assets/spree/frontend/one-page-wonder.self.css?body=1">
    <script src="/assets/jquery.self.js?body=1"></script>
    <script src="/assets/jquery_ujs.self.js?body=1"></script>
    <script src="/assets/bootstrap/affix.self.js?body=1"></script>
    <script src="/assets/bootstrap/alert.self.js?body=1"></script>
    <script src="/assets/bootstrap/button.self.js?body=1"></script>
    <script src="/assets/bootstrap/carousel.self.js?body=1"></script>
    <script src="/assets/bootstrap/collapse.self.js?body=1"></script>
    <script src="/assets/bootstrap/dropdown.self.js?body=1"></script>
    <script src="/assets/bootstrap/modal.self.js?body=1"></script>
    <script src="/assets/bootstrap/scrollspy.self.js?body=1"></script>
    <script src="/assets/bootstrap/tab.self.js?body=1"></script>
    <script src="/assets/bootstrap/transition.self.js?body=1"></script>
    <script src="/assets/bootstrap/tooltip.self.js?body=1"></script>
    <script src="/assets/bootstrap/popover.self.js?body=1"></script>
    <script src="/assets/bootstrap-sprockets.self.js?body=1"></script>
    <script src="/assets/jquery.validate/jquery.validate.min.self.js?body=1"></script>
    <script src="/assets/jsuri.self.js?body=1"></script>
    <script src="/assets/spree.self.js?body=1"></script>
    <script src="/assets/spree/frontend/cart.self.js?body=1"></script>
    <script src="/assets/jquery.payment.self.js?body=1"></script>
    <script src="/assets/spree/frontend/checkout.self.js?body=1"></script>
    <script src="/assets/spree/frontend/checkout/address.self.js?body=1"></script>
    <script src="/assets/spree/frontend/checkout/payment.self.js?body=1"></script>
    <script src="/assets/spree/frontend/product.self.js?body=1"></script>
    <script src="/assets/spree/frontend.self.js?body=1"></script>
    <script src="/assets/spree/frontend/all.self.js?body=1"></script>
  </head>
<body>

  <div id="spree-header">
    <header id="header" data-hook="">
      <div class="container">
        <div class="row">
          <figure id="logo" class="col-md-4" data-hook="">
            <a href="/shop/"><img src="/assets/logo/spree_50.png" alt="Spree 50"></a>
          </figure>
          <nav class="navbar col-md-8" id="top-nav-bar">
            <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook="">
              <li id="link-to-login"><a href="/shop/login">Login</a></li>
              <li id="search-bar" data-hook="">
              <form class="navbar-form" action="/shop/products" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
                <div class="form-group">
                  <select name="taxon" id="taxon" aria-label="Taxon" class="form-control"><option value="">All departments</option>
                    <option value="1">Tags</option>
                    <option value="5">Categories</option>
                    <option value="6">Brand</option></select>
                </div>
                <div class="form-group">
                  <input type="search" name="keywords" id="keywords" placeholder="Search" class="form-control">
                </div>
                <input type="submit" value="Search" class="btn btn-success">
              </form>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <nav class="col-md-12">
    <div id="main-nav-bar" class="navbar">
      <ul class="nav navbar-nav" data-hook="">
        <li id="home-page-link" data-hook="">
          <a href="/">Home</a><a></a>
        </li>
        <li id="home-link" data-hook=""><a href="/shop/">Shop</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" data-hook="">
        <li id="link-to-cart" data-hook="">
          <noscript>
            <%= link_to Spree.t(:cart), '/cart' %>
          </noscript>
          <script>Spree.fetch_cart()</script>
        </li>
      </ul>
    </div>
  </nav>

    </div>
  </div>

    <!-- Full Width Image Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Moringa</h1>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="/assets/greensmoothie.jpg">
            <h2 class="featurette-heading">More Vitamic C than Oranges,
                <span class="text-muted">More iron than Spinach</span>
            </h2>
            <p class="lead">Moringa is like a “vegetable tree,” loaded with health and beauty supporting vitamins, minerals, and enzymes, making it a true superfood in every sense of the word.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="/assets/greensmoothie.jpg">
            <h2 class="featurette-heading">Increased energy.
                <span class="text-muted">A single serving of Moringa contains about 3x the iron of spinach.</span>
            </h2>
            <p class="lead">Iron is essential to enriching the blood, carrying life, energy and oxygen into our muscles, organs and tissues. Move over sugary, high caffeine “energy” drinks, Moringa tea is here supporting health and vitality – without the CRASH!</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="/assets/greensmoothie.jpg">
            <h2 class="featurette-heading">The Third Heading
                <span class="text-muted">Will Seal the Deal.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>
